colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.3
jieba==0.42.1
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
plotext==5.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
six==1.16.0
termgraph==0.5.3
wordcloud==1.8.2.2
flask
flask-sqlalchemy
flask-script
flask-debugtoolbar