server {
    listen 8080;
    server_name localhost;

    location /api {
        client_max_body_size 100M;
        proxy_pass http://backend:5000;
    }

    location / {
        proxy_pass http://frontend:8080;
    }
}